.Form {
    display: center;
    place-items: center;
}

body{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
}

.card-container{
    width: 300px;
    height: 430px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 5px 1px rgb(70, 65, 65);
}

input{
   width: 100%;
   border: 2px solid #aaa;
   border-radius: 4px;
   margin: 8px 0;
   outline: none;
   padding: 8px;
   box-sizing: border-box;
   transition: .3s;
}

input:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 5px 0 dodgerblue;
}